attrs==20.2.0
colorama==0.4.3
coverage==5.3
green==3.2.2
iniconfig==1.0.1
lxml==4.5.2
packaging==20.4
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.1.0
six==1.15.0
toml==0.10.1
Unidecode==1.1.1
